{{template "base.html" .}}

{{define "title"}} Name of Survey {{end}}

{{define "content"}}
    <h1>Survey Title</h1>
    <h2>Survey Question</h2>
    <form method="POST" action="/submit">
        <input type="text" name="a name" placeholder="example answers" required>
        <input type="submit" value="Submit Vote">
    </form>

    <div class="results">
        <h2>Survey Results:</h2>
        <ul>
            {{range .}}
            <li>{{.Value}}: {{.Count}} vote(s)</li>
            {{end}}
        </ul>
    </div>
{{end}}
