<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Redis...Go....Survey!</title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to the Redis-Go Survey Demo</h1>
        <h3>This application demonstrates the speed and utility of using
            a Redis-Go stack for a popular app that you self-host</h3>

        <table>
            <th>Product</th>
                <tr>Redis-Go Survey Application (seen here)</tr>
                <tr>Place holder</tr>

            <th>Stack</th>
                <tr>Redis, Go, Docker</tr>

        </table>

    
    </body>
</html>
